@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: ease-in-out;
    transition-duration: 0.2s;

    
}

nav {
    margin: 44px 0 144px 76px;

}

.link-nav {
    font-weight: 600;
    font-size: 24px;
    line-height: 29.26px;
    color: #989D9C;
    cursor: pointer;
    margin-right: 23px;
    text-transform: uppercase;
}

.link-nav:hover {
    opacity: 0.5;
}

.login-btn {
    width: 130px;
    height: 41px;
    border-radius: 20.5px;
    border: none;
    background-color: #665AE1;
    color: white;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    text-transform: uppercase;

}

.login-btn:hover {
    opacity: 0.5;
}

.login-btn:active {
    opacity: 0.4;
}

.img-logo {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 86px;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 70.7px;
    color: #515151;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29.26px;
    color: #848484;
    width: 512px;
    margin-top: 32px;
    margin-bottom: 65px;
}

.explore-btn {
    width: 239px;
    height: 64px;
    border-radius: 20.5px;
    background-color: #ADFF00;
    border: none;
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
    line-height: 34.13px;
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;

}

.explore-btn:hover {
    opacity: 0.5;
}

.explore-btn:active {
    opacity: 0.4;
}

@media screen and (max-width:900px) {
    nav {
        display: none;
    }

    p {
        display: none;
    }

    .img-logo {
        width: 354px;
        height: 317px;
        margin: 40px auto;
        display: block;

    }

    h1 {
        font-family: Montserrat;
        font-size: 50px;
        font-weight: 900;
        line-height: 60.95px;

    }

    h2 {
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 500;
        line-height: 36.57px;

    }
    
    .explore-btn {
       margin: 20px auto;
       display: block;
    }

    main {
        display: inline;
        text-align: center;
    }

    section { 
        display: inline;
        margin: 0 auto;
        text-align: center;
    }
}